@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    
}
html, body{
    height: 100vh;
}
header{
    background-color: black;
    color: white;
    padding-top: 50px;
    text-align: center;
}

header>p{
    padding-bottom: 50px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover{
    color: black;
    background-color: white;
    

}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;

}
     
      section.normal{
        background-color: white;
        color: black;
      }

      section.imagem{
        background-color: darkgray;
        color:white;
      }

footer{
    background-color: black;
    color: white;
    padding: 3px;
    text-align: center;
 font-weight: normal;
}
