@charset "UTF-8";
 /*Configuração aprelho deitado - Landscape*/

body{

   background-image: url(../cev-landscape.jpg);
   background-position:left bottom ;
   background-repeat: no-repeat;
   background-size: cover;
}