@charset "UTF-8";

/*Configurações em pé - Portrait */


body{
    background-image: url(../cev-portrait.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}